body {
  background: #fff;
  width: 100vw;
  height: 100vh; }

.App {
  display: flex;
  flex-direction: column; }

.navbar {
  height: 10vh;
  width: 100vw;
  background: #fff;
  color: #fff;
  display: flex;
  align-items: center; }
  .navbar .txtTitle {
    color: #000;
    margin-left: 20px;
    font-size: 1.75em; }
  .navbar .btnMenu {
    height: 60%;
    margin-left: 20px;
    padding: 0px 5px;
    cursor: pointer; }
    .navbar .btnMenu:hover {
      background-color: lightslategray; }
    .navbar .btnMenu:active {
      transform: translateX(3px) translateY(3px); }

.banner {
  height: 30vh;
  width: 100vw;
  background-color: #4ff;
  background-image: url("https://image.freepik.com/free-vector/health-care-science-medical-dna-background-banner_1017-20043.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .banner .txtTitle {
    font-size: 3em;
    font-weight: bolder; }
  .banner .txtSubtitle {
    margin: 0;
    font-size: 1.5em;
    font-weight: bolder; }

.main {
  height: 55vh;
  width: 100vw;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto; }
  .main .inputCard {
    height: 40vh;
    width: 45vw;
    border: 2px solid #7dc3df;
    border-radius: 5px;
    box-shadow: 10px 10px lightgrey; }
    .main .inputCard .inputCardGroup {
      width: 40vw;
      margin-left: 20px;
      display: flex;
      flex-direction: column; }
      .main .inputCard .inputCardGroup .txtInputCardTitle {
        font-size: 1.2em;
        font-weight: bold;
        align-self: center; }
      .main .inputCard .inputCardGroup .grpInput {
        display: flex;
        flex-direction: column;
        margin-top: 10px; }
      .main .inputCard .inputCardGroup .btnSubmit {
        width: 100px;
        height: 30px;
        margin-top: 10px;
        background-color: lightblue;
        border: 1px solid lightblue;
        color: #000;
        font-weight: bold;
        border-radius: 50px;
        box-shadow: 5px 5px lightgrey;
        align-self: center;
        text-align: center;
        cursor: pointer; }
        .main .inputCard .inputCardGroup .btnSubmit:hover {
          background-color: blue;
          color: #fff; }
        .main .inputCard .inputCardGroup .btnSubmit:active {
          box-shadow: none;
          transform: translateY(5px) translateX(5px); }
  .main .outputCard {
    height: 40vh;
    width: 45vw;
    border: 2px solid #7dc3df;
    border-radius: 5px;
    box-shadow: 10px 10px lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .outputCard .txtOutputCardTitle {
      font-size: 1.2em;
      font-weight: bold; }
    .main .outputCard .boxOutput {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto; }
      .main .outputCard .boxOutput .boxHeaderGroup {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1; }
        .main .outputCard .boxOutput .boxHeaderGroup .txtColHeader {
          padding: 0px 30px;
          border: .5px solid white;
          background-color: lightblue;
          text-align: center;
          flex-grow: 1;
          flex-basis: auto; }
    .main .outputCard .outputEntryGroup {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-grow: 1; }
      .main .outputCard .outputEntryGroup .outputEntry {
        margin: 0px;
        padding: 0px 30px;
        text-align: center;
        flex-grow: 1;
        flex-basis: auto; }

.footer {
  height: 5vh;
  width: 100vw;
  background: #999;
  color: #fff;
  font-size: .7em;
  display: inline-flex;
  align-items: center; }
  .footer .txtCopyright {
    margin-left: 10px; }
  .footer .txtLink {
    color: inherit;
    text-decoration: none; }
